<!DOCTYPE html>
<html 	lang="en"
         xmlns:th="http://www.thymeleaf.org"
         xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
         layout:decorator="layouts/report-layout"
         xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" >
<head>
    <title> Agency &middot; Commission Report </title>
</head>
<body>

<th:block layout:fragment="content" >


    <div class="content-header-left col-md-6 col-12 mb-2">
        <h3 class="content-header-title mb-0">Commission Report Report</h3>
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a th:href="@{/}">Home</a>
                    </li>
                    <li class="breadcrumb-item active">Commission Report
                    </li>
                </ol>
            </div>
        </div>
    </div>


    <div class="content-body">

        <div class="lang-pack d-none">
            <span class="_ajax_error" th:text="#{ajax.error}"></span>
            <span class="_ajax_error_404" th:text="#{ajax.error.404}"></span>
            <span class="_ajax_error_403" th:text="#{ajax.error.403}"></span>
            <span class="_ajax_error_500" th:text="#{ajax.error.500}"></span>
            <span class="_ajax_question_delete" th:text="#{ajax.question.delete}"></span>
            <span class="_ajax_question_activate" th:text="#{ajax.question.activate}"></span>
            <span class="_ajax_question_decline-new" th:text="#{ajax.question.decline-new}"></span>
            <span class="_ajax_question_approve-new" th:text="#{ajax.question.approve-new}"></span>
            <span class="_ajax_question_unlock" th:text="#{ajax.question.unlock}"></span>
        </div>

        <section>

            <div class="row parent-panel">
                <div class="col-12">

                    <!--Parent View-->
                    <div class="card">

                        <div class="card-header">

                            <div class="heading-elements">
                                <button class="btn btn-success"> Refresh </button>

                                <button class="btn btn-flat btn-default date-range" title="Specify Range ">
                                    <i class="ft-calendar"></i>
                                    <span>Specify Range </span>
                                </button>

                                <div class="btn-group ">
                                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="ft-download-cloud"></i>
                                    </button>
                                    <div class="dropdown-menu download-report">
                                        <a class="dropdown-item" href="javascript:void(0)" data-action="csv" target="_blank">CSV</a>
                                        <a class="dropdown-item" href="javascript:void(0)" data-action="excel" target="_blank">Excel</a>
                                        <a class="dropdown-item" href="javascript:void(0)" data-action="pdf" target="_blank">PDF</a>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="card-content">
                            <div class="card-body">

                                <table class="table table-bordered parent-table" cellspacing="0" width="100%" >
                                    <thead>
                                    <tr>
                                        <th>Transaction Category</th>
                                        <th>No of Transactions</th>
                                        <th>Total Amount</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row child-panel d-none">
                <div class="col-12">

                    <!--Parent View-->
                    <div class="card">

                        <div class="card-header">

                            <div class="heading-elements">
                                <button type="button" class="btn btn-info">Back</button>
                                <button type="button" class="btn btn-success" data-action="refresh">Refresh </button>

<!--                                <div class="btn-group status ">-->
<!--                                    <button type="button" class="btn btn-danger dropdown-toggle title-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--                                        &#45;&#45; Status &#45;&#45;-->
<!--                                    </button>-->
<!--                                    <div class="dropdown-menu filter">-->
<!--                                        <a class="dropdown-item" href="javascript:void(0)" data-filter="status" data-index="">&#45;&#45; Status &#45;&#45;</a>-->
<!--                                        <div class="dropdown-divider"></div>-->
<!--                                        <a class="dropdown-item" href="javascript:void(0)" data-filter="status" data-index="Success">Success</a>-->
<!--                                        <a class="dropdown-item" href="javascript:void(0)" data-filter="status" data-index="Failed">Failed</a>-->
<!--                                    </div>-->
<!--                                </div>-->

                                <button class="btn btn-flat btn-default date-range" title="Specify Range ">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                    <span>Specify Range </span>
                                </button>

                                <div class="btn-group ">
                                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="ft-download-cloud"></i>
                                    </button>
                                    <div class="dropdown-menu download-report">
                                        <a class="dropdown-item" href="javascript:void(0)" data-action="csv" target="_blank">CSV</a>
                                        <a class="dropdown-item" href="javascript:void(0)" data-action="excel" target="_blank">Excel</a>
                                        <a class="dropdown-item" href="javascript:void(0)" data-action="pdf" target="_blank">PDF</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-content">
                            <div class="card-body">
                                <div class="table-responsive">
                                <table class="table table-bordered child-table" cellspacing="0" width="100%" >
                                    <thead>
                                    <tr>
                                        <th>Date/Time</th>
                                        <th>Transaction No</th>
                                        <th>Amount</th>
                                        <th>Transaction Type</th>
                                        <th>Agent</th>
                                        <th>Agent Amount</th>
                                        <th>Flex Amount</th>
                                        <th>Binary Amount</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>

                            </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </section>
    </div>

</th:block>
<th:block layout:fragment="report-scripts">
    <script th:src="@{/js/reports/transaction-category.js}" ></script>
</th:block>

</body>
</html>