<!DOCTYPE html>
<html 	lang="en"
         xmlns:th="http://www.thymeleaf.org"
         xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
         layout:decorator="layouts/default-layout"
         xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" >
<head>
    <meta charset="utf-8" />
    <title> Agency &middot; Fees </title>

    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link th:href="@{/plugins/datatables/datatables.min.css}" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS -->

</head>
<body>

<th:block layout:fragment="content" >


    <div class="content-header-left col-md-6 col-12 mb-2">
        <h3 class="content-header-title mb-0">Fees</h3>
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a th:href="@{/}">Home</a>
                    </li>
                    <li class="breadcrumb-item active">Fees
                    </li>
                </ol>
            </div>
        </div>
    </div>


    <div class="content-body">

        <div class="lang-pack d-none">
            <span class="_ajax_error" th:text="#{ajax.error}"></span>
            <span class="_ajax_error_404" th:text="#{ajax.error.404}"></span>
            <span class="_ajax_error_403" th:text="#{ajax.error.403}"></span>
            <span class="_ajax_error_500" th:text="#{ajax.error.500}"></span>
            <span class="_ajax_question_delete" th:text="#{ajax.question.delete}"></span>
            <span class="_ajax_question_activate" th:text="#{ajax.question.activate}"></span>
            <span class="_ajax_question_decline-new" th:text="#{ajax.question.decline-new}"></span>
            <span class="_ajax_question_approve-new" th:text="#{ajax.question.approve-new}"></span>
            <span class="_ajax_question_unlock" th:text="#{ajax.question.unlock}"></span>
        </div>

        <section >
            <div class="row" style="
    width: 130%;
">
                <div class="col-12">

                    <div class="card">

                        <div class="card-header">

                            <div class="heading-tabs">
                                <ul class="nav nav-tabs nav-top-border no-hover-bg float-md-left">
                                    <li class="nav-item">
                                        <a class="nav-link active" data-toggle="tab" href="#active" role="tab" aria-selected="true">
                                            Active
                                        </a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#new" role="tab" aria-selected="false">
                                            New
                                        </a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#edited" role="tab" aria-selected="false">
                                            Edited
                                        </a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#deactivated" role="tab" aria-selected="false">
                                            Deactivation Requests
                                        </a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#inactive" role="tab" aria-selected="false">
                                            Inactive
                                        </a>
                                    </li>

                                </ul>

                                <div class="tab-actions float-md-right">
                                    <button class="btn btn-primary" data-action="refresh" type="button">Refresh </button>
                                    <button type="button" class="btn btn-default" data-toggle="modal" data-target=".edit-view"> New </button>
                                </div>

                            </div>

                        </div>
                        <div class="card-content">
                            <div class="card-body">

                                <div class="tab-content px-1 pt-1">

                                    <div class="tab-pane active" id="active" role="tabpanel">

                                        <th:block sec:authorize="hasRole('View Active Fees')" >
                                            <table class="table table-bordered table-active" cellspacing="0" width="100%" >
                                                <thead>
                                                <tr>
                                                    <th>Name</th>
                                                    <th>Minimum Amount</th>
                                                    <th>Maximum Amount</th>
                                                    <th>Fee Group</th>
                                                    <th> Created On </th>
                                                    <th> Updated On </th>
                                                    <th> Actions </th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                            </table>
                                        </th:block>

                                        <th:block sec:authorize="!hasRole('View Active Fees')" >
                                            <th:block th:replace="fragments/access-denied::block"> </th:block>
                                        </th:block>

                                    </div>

                                    <div class="tab-pane" id="new" role="tabpanel">

                                        <th:block sec:authorize="hasRole('View New Fees')" >
                                            <table class="table table-bordered table-new" cellspacing="0" width="100%" >
                                                <thead>
                                                <tr>
                                                    <th>Name</th>
                                                    <th>Minimum Amount</th>
                                                    <th>Maximum Amount</th>
                                                    <th>Fee Group</th>
                                                    <th> Created On </th>
                                                    <th> Updated On </th>
                                                    <th> Actions </th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                            </table>
                                        </th:block>

                                        <th:block sec:authorize="!hasRole('View New Fees')" >
                                            <th:block th:replace="fragments/access-denied::block"> </th:block>
                                        </th:block>

                                    </div>

                                    <div class="tab-pane" id="edited" role="tabpanel">

                                        <th:block sec:authorize="hasRole('View Edited Fees')" >
                                            <table class="table table-bordered table-edited" cellspacing="0" width="100%" >
                                                <thead>
                                                <tr>
                                                    <th>Name</th>
                                                    <th>Minimum Amount</th>
                                                    <th>Maximum Amount</th>
                                                    <th>Fee Group</th>
                                                    <th> Created On </th>
                                                    <th> Updated On </th>
                                                    <th> Actions </th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                            </table>
                                        </th:block>

                                        <th:block sec:authorize="!hasRole('View Edited Fees')" >
                                            <th:block th:replace="fragments/access-denied::block"> </th:block>
                                        </th:block>

                                    </div>

                                    <div class="tab-pane" id="deactivated" role="tabpanel">

                                        <th:block sec:authorize="hasRole('View Deactivated Fees')" >
                                            <table class="table table-bordered table-deactivated" cellspacing="0" width="100%" >
                                                <thead>
                                                <tr>
                                                    <th>Name</th>
                                                    <th>Minimum Amount</th>
                                                    <th>Maximum Amount</th>
                                                    <th>Fee Group</th>
                                                    <th> Created On </th>
                                                    <th> Updated On </th>
                                                    <th> Actions </th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                            </table>
                                        </th:block>

                                        <th:block sec:authorize="!hasRole('View Deactivated Fees')" >
                                            <th:block th:replace="fragments/access-denied::block"> </th:block>
                                        </th:block>

                                    </div>

                                    <div class="tab-pane" id="inactive" role="tabpanel">

                                        <th:block sec:authorize="hasRole('View Inactive Fees')" >
                                            <table class="table table-bordered table-inactive" cellspacing="0" width="100%" >
                                                <thead>
                                                <tr>
                                                    <th>Name</th>
                                                    <th>Minimum Amount</th>
                                                    <th>Maximum Amount</th>
                                                    <th>Fee Group</th>
                                                    <th> Created On </th>
                                                    <th> Updated On </th>
                                                    <th> Actions </th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                            </table>
                                        </th:block>

                                        <th:block sec:authorize="!hasRole('View Inactive Fees')" >
                                            <th:block th:replace="fragments/access-denied::block"> </th:block>
                                        </th:block>

                                    </div>

                                </div>


                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </div>

</th:block>

<th:block layout:fragment="modals">

    <div class="modal fade edit-view" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <form class="form-horizontal" autocomplete="off">
                    <div class="modal-header bg-primary white">
                        <h5 class="modal-title" >Fees Details</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <h4 class="form-section"><i class="ft-pause"></i> Basic Details</h4>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group m-form__group">
                                    <label> Name </label>
                                    <input type="text" name="name" class="form-control m-input" placeholder="Name" required="required" />
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group m-form__group">
                                    <label> Transaction Type </label>
                                    <select name="transactionTypeNo" class="form-control" required >
                                        <option value=""> Select Transaction Type </option>
                                        <option th:each="item : ${transactionTypes}"
                                                th:value="${item.id}"
                                                th:text="${item.name}"></option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group m-form__group">
                                    <label> Min Amount </label>
                                    <input type="text" name="minAmount" class="form-control m-input" placeholder="Min Amount" required="required" />
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group m-form__group">
                                    <label> Max Amount </label>
                                    <input type="text" name="maxAmount" class="form-control m-input" placeholder="Max Amount" required="required" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group m-form__group">
                                    <label> Fee Group </label>
                                    <select name="feeGroupNo" class="form-control" required>
                                        <option value=""> Select Fee Group </option>
                                        <option th:each="item : ${feeGroups}"
                                                th:value="${item.id}"
                                                th:text="${item.name}"></option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group m-form__group">
                                    <label> Fee Origin </label>
                                    <select name="feeOriginNo" class="form-control" required>
                                        <option value=""> Select Fee Origin </option>
                                        <option th:each="item : ${feeOrigin}"
                                                th:value="${item.id}"
                                                th:text="${item.name}"></option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="transaction-amount col-md-12">
                                <div class="form-group m-form__group">
                                    <label> Transaction Amount </label>
                                    <input type="text" name="transactionAmount" class="form-control m-input" placeholder="Transaction Amount" required="required" />
                                </div>
                            </div>
                        </div>

                        <h4 class="form-section"><i class="ft-package"></i> Revenue Details</h4>
                        <div class="form-group m-form__group">
                            <label> Payment Mode </label>
                            <select name="paymentMode" class="form-control" required>
                                <option  value=""> Select one of the following </option>
                                <option  value="1">Fixed Mode</option>
                                <!--<option  value="2">Percentage Mode</option>-->
                            </select>
                        </div>

                        <div class="fixed-mode d-none">

                            <div class="row">

                                <div class="col-md-4">
                                    <div class="form-group m-form__group">
                                        <label> Agent Amount </label>
                                        <input type="text" name="agentAmount" class="form-control m-input" placeholder="Agent Amount" required="required" />
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group m-form__group">
                                        <label> Flex Amount </label>
                                        <input type="text" name="flexAmount" class="form-control m-input" placeholder="Flex Amount" required="required" />
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group m-form__group">
                                        <label> Binary Amount </label>
                                        <input type="text" name="binaryAmount" class="form-control m-input" placeholder="Binary Amount" required="required" />
                                    </div>
                                </div>

                            </div>
                        </div>

                        <!--<div class="percentage-mode ">-->
                            <!--<div class="row">-->
                                <!--&lt;!&ndash;<div class="transaction-amount col-md-12">&ndash;&gt;-->
                                    <!--&lt;!&ndash;<div class="form-group m-form__group">&ndash;&gt;-->
                                        <!--&lt;!&ndash;<label> Transaction Amount </label>&ndash;&gt;-->
                                        <!--&lt;!&ndash;<input type="text" name="transactionAmount" class="form-control m-input" placeholder="Transaction Amount" required="required" />&ndash;&gt;-->
                                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                <!--<div class="row">-->

                                <!--</div>-->
                                <!--<div class="col-md-6">-->
                                    <!--<div class="form-group m-form__group">-->
                                        <!--<label> Flex Ratio </label>-->
                                        <!--<input type="text" name="outletRatio" class="form-control m-input" placeholder="Agent Ratio" required="required" />-->
                                    <!--</div>-->
                                <!--</div>-->

                                <!--<div class="col-md-6">-->
                                    <!--<div class="form-group m-form__group">-->
                                        <!--<label> Binary Ratio </label>-->
                                        <!--<input type="text" name="saccoRatio" class="form-control m-input" placeholder="Flex Ratio" required="required" />-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->

                    </div>
                    <div class="modal-footer">
                        <input type="hidden" name="action" value="new" />
                        <input type="hidden" name="id" value="" />
                        <button type="submit" class="btn btn-success ">Save</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div th:replace="fragments/makerchecker::modals"></div>

</th:block>



<th:block layout:fragment="script">
    <script th:src="@{/plugins/datatables/datatables.min.js}" ></script>
    <script th:src="@{/js/app-util.js}" ></script>
    <script th:src="@{/js/agency-manager/fees.js}" ></script>
</th:block>

</body>
</html>