<!DOCTYPE html>
<html 	lang="en"
         xmlns:th="http://www.thymeleaf.org"
         xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
         layout:decorator="layouts/default-layout"
         xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" >
<head>
    <meta charset="utf-8" />
    <title> Agency &middot; Agent Float Allocation </title>

    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link th:href="@{/plugins/datatables/datatables.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/plugins/bootstrap-select/css/bootstrap-select.css}" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS -->

</head>
<body>

<th:block layout:fragment="content" >


    <div class="content-header-left col-md-6 col-12 mb-2">
        <h3 class="content-header-title mb-0">Agent Float Allocation</h3>
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a th:href="@{/}">Home</a>
                    </li>
                    <li class="breadcrumb-item active">Agent Float Allocation
                    </li>
                </ol>
            </div>
        </div>
    </div>


    <div class="content-body">

        <div class="lang-pack d-none">
            <span class="_ajax_error" th:text="#{ajax.error}"></span>
            <span class="_ajax_error_404" th:text="#{ajax.error.404}"></span>
            <span class="_ajax_error_403" th:text="#{ajax.error.403}"></span>
            <span class="_ajax_error_500" th:text="#{ajax.error.500}"></span>
            <span class="_ajax_question_delete" th:text="#{ajax.question.delete}"></span>
            <span class="_ajax_question_activate" th:text="#{ajax.question.activate}"></span>
            <span class="_ajax_question_decline-new" th:text="#{ajax.question.decline-new}"></span>
            <span class="_ajax_question_approve-new" th:text="#{ajax.question.approve-new}"></span>
            <span class="_ajax_question_unlock" th:text="#{ajax.question.unlock}"></span>
        </div>

        <section >
            <div class="row">
                <div class="col-12">

                    <!--Parent View-->
                    <div class="card parent-card">

                        <div class="card-header">

                            <div class="heading-elements">
                                <button class="btn btn-success"> Refresh </button>
                            </div>

                        </div>
                        <div class="card-content">
                            <div class="card-body">

                                <table class="table table-bordered  table-sm compact parent-table" cellspacing="0" width="100%" >
                                    <thead>
                                    <tr>
                                    <tr>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Mobile No</th>
                                        <th>Agent Code</th>
                                    </tr>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>



                    <!--Child View-->
                    <div class="card child-card d-none">

                        <div class="card-header">

                            <h4 class="card-title success"></h4>
                            <div class="heading-elements">
                                <ul class="list-inline mb-0">
                                    <li> <button class="btn btn-info"> Back </button> </a></li>
                                    <li> <button class="btn btn-success"> Refresh </button> </a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-content">
                            <div class="card-bodys">

                                <table class="table table-bordered  table-sm compact child-table" cellspacing="0" width="100%" >
                                    <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Currency</th>
                                        <th>Amount</th>
                                        <th>Created On</th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </div>

</th:block>

<th:block layout:fragment="modals">

    <div class="modal fade push-view" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form class="form-horizontal" autocomplete="off">
                    <div class="modal-header bg-primary white">
                        <h5 class="modal-title" >Float Assignment</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <!--<span aria-hidden="true">&times;</span>-->
                        </button>
                    </div>
                    <div class="modal-body">

                        <div class="form-group m-form__group">
                            <label> Agent Float Balance </label>
                            <input type="text" name="floatBalance" id="floatBalance" class="form-control m-input" disabled="disabled" />
                        </div>

                        <div class="form-group m-form__group">
                            <label> Currency </label>
                            <input type="text" name="floatBalanceV1" id="currencyV1" class="form-control m-input" disabled="disabled" />
                        </div>

                        <div class="form-group m-form__group">
                            <label> Amount </label>
                            <input type="text" name="amount" class="form-control m-input" placeholder="Amount" required="required" />
                        </div>






                        <div class="form-group m-form__group">
                            <label> Description </label>
                            <input type="text" name="description" class="form-control m-input" placeholder="Description"  />
                        </div>


                    </div>
                    <div class="modal-footer">
                        <input type="hidden" name="action" value="push-float" />
                        <input type="hidden" name="id" value="" />
                        <button type="submit" class="btn btn-success ">Save</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade pull-view" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form class="form-horizontal" autocomplete="off">
                    <div class="modal-header bg-primary white">
                        <h5 class="modal-title" >Float Assignment</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <!--<span aria-hidden="true">&times;</span>-->
                        </button>
                    </div>
                    <div class="modal-body">

                        <div class="form-group m-form__group">
                            <label> Agent Float Balance </label>
                            <input type="text" name="floatBalanceV1" id="floatBalanceV1" class="form-control m-input" disabled="disabled" />
                        </div>

                        <div class="form-group m-form__group">
                            <label> Currency </label>
                            <input type="text" name="floatBalanceV1" id="currency" class="form-control m-input" disabled="disabled" />
                        </div>

<!--                        <div class="col-md-6">-->
<!--                            <div class="form-group m-form__group">-->
<!--                                <label> Transaction Type </label>-->
<!--                                <select name="transactionTypeNo" class="form-control" required >-->
<!--                                    <option value=""> Select Curency </option>-->
<!--                                    <option th:each="item : ${transactionTypes}"-->
<!--                                            th:value="${item.id}"-->
<!--                                            th:text="${item.name}"></option>-->
<!--                                </select>-->
<!--                            </div>-->
<!--                        </div>-->

                        <div class="form-group m-form__group">
                            <label> Amount </label>
                            <input type="text" name="amount" class="form-control m-input" placeholder="Amount" required="required" />
                        </div>


                    </div>
                    <div class="modal-footer">
                        <input type="hidden" name="action" value="pull-float" />
                        <input type="hidden" name="id" value="" />
                        <button type="submit" class="btn btn-success ">Save</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div th:replace="fragments/makerchecker::modals"></div>

</th:block>



<th:block layout:fragment="script">
    <script th:src="@{/plugins/datatables/datatables.min.js}" ></script>
    <script th:src="@{/plugins/bootstrap-select/js/bootstrap-select.min.js}" type="text/javascript"></script>
    <script th:src="@{/js/app-util.js}" ></script>
    <script th:src="@{/js/terminal-manager/allocation.js}" ></script>
</th:block>

</body>
</html>