<!DOCTYPE html>
<html lang="en" data-textdirection="ltr" class="loading"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="">

    <link rel="icon" type="image/png" sizes="16x16" th:href="@{img/profits.png}">
    <title> Agency </title>
    <!--<link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i%7COpen+Sans:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">-->

    <link th:href="@{/theme/css/bundle.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/theme/css/style.bundle.css}" rel="stylesheet" type="text/css" />

    <!--Begin: GLOBAL PLUGINS-->
    <link rel="stylesheet" th:href="@{/plugins/formvalidation/formValidation.min.css}" />
    <link rel="stylesheet" th:href="@{/plugins/intelutil/css/intlTelInput.css}" />
    <!--End: GLOBAL PLUGINS-->

</head>

<body data-open="click" data-menu="vertical-menu" data-col="1-column" class="vertical-layout vertical-menu 1-column   menu-expanded blank-page blank-page">

<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body">
            <section class="flexbox-container">
                <div class="col-12 d-flex align-items-center justify-content-center">
                    <div class="col-md-4 col-10 box-shadow-2 p-0">
                        <div layout:fragment="content"></div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<script th:src="@{/theme/js/bundle.js}" type="text/javascript"></script>
<script th:src="@{/theme/js/scripts.bundle.js}" type="text/javascript"></script>

<!-- begin::Global Plugins -->
<script th:src="@{/plugins/formvalidation/formValidation.min.js}"></script>
<script th:src="@{/plugins/formvalidation/framework/bootstrap.min.js}"></script>
<!-- end::Global Plugins -->

<!--Additional JS resources-->
<th:block layout:fragment="script"></th:block>
<!--Additional JS resources-->

</body>
</html>