<!DOCTYPE html>
<html lang="en" data-textdirection="ltr" class="loading"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">

    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    <link rel="icon" type="image/png" sizes="16x16" th:href="@{img/fav-icon.png}">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i%7COpen+Sans:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">
    <link th:href="@{/theme/css/bundle.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/theme/css/style.bundle.css}" rel="stylesheet" type="text/css" />

    <!--Begin: GLOBAL PLUGINS-->
    <link rel="stylesheet" th:href="@{/plugins/sweetalert/sweetalert.css}" />
    <link rel="stylesheet" th:href="@{/plugins/formvalidation/formValidation.min.css}" />
<!--    <link rel="stylesheet" th:href="@{/plugins/intelutil/css/intlTelInput.css}" />-->
    <!--End: GLOBAL PLUGINS-->

</head>
<body data-open="click" data-menu="vertical-menu" data-col="2-columns" class="vertical-layout vertical-menu 2-columns   menu-expanded fixed-navbar">

<div th:replace="fragments/header::header"></div>

<div th:replace="fragments/menu::menu"></div>

<div class="stack-content content">
    <div class="content-wrapper">

        <th:block layout:fragment="content"></th:block>

    </div>
</div>

<footer class="footer footer-static footer-light navbar-border">
    <p class="clearfix blue-grey lighten-2 text-sm-center mb-0 px-2 content"><span class="float-md-left d-block d-md-inline-block">Copyright  &copy; 2019 <a href="javascript:void(0);" target="_blank" class="text-bold-800 grey darken-2"> Knowteq Ventures Limited</a>, All rights reserved. </span></p>
</footer>

<th:block layout:fragment="modals"></th:block>


<script th:src="@{/theme/js/bundle.js}" type="text/javascript"></script>
<script th:src="@{/theme/js/scripts.bundle.js}" type="text/javascript"></script>

<!-- begin::Global Plugins -->
<script th:src="@{/plugins/sweetalert/sweetalert.js}"></script>
<script th:src="@{/plugins/formvalidation/formValidation.min.js}"></script>
<script th:src="@{/plugins/formvalidation/framework/bootstrap.min.js}"></script>
<!--<script th:src="@{/plugins/intelutil/js/intlTelInput.min.js}"></script>-->
<!-- end::Global Plugins -->

<!--Additional JS resources-->
<th:block layout:fragment="script"></th:block>
<!--Additional JS resources-->

</body>
</html>