<!DOCTYPE html>
<html lang="en" data-textdirection="ltr" class="loading"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layouts/default-layout"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <link th:href="@{/plugins/datatables/datatables.min.css}" rel="stylesheet">
    <link th:href="@{/plugins/daterange-picker/daterangepicker.css}" rel="stylesheet" />
</head>
<body>

<div layout:fragment="content">
    <th:block layout:fragment="report-content"></th:block>
</div>

<th:block layout:fragment="script">
    <script th:src="@{/plugins/moment.min.js}"></script>
    <script th:src="@{/plugins/datatables/datatables.min.js}"></script>
    <script th:src="@{/plugins/daterange-picker/daterangepicker.js}"></script>
    <script th:src="@{/js/app-util.js}" ></script>
    <script th:src="@{/js/reports/default.js}"></script>

    <th:block layout:fragment="report-scripts"></th:block>
</th:block>

</body>
</html>