<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layouts/default-layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" >
<head>
    <meta charset="UTF-8">
    <title>Agency &middot; Change Log</title>
</head>
<body>

<th:block layout:fragment="content" >

    <div class="content-header-left col-md-6 col-12 mb-2">
        <h3 class="content-header-title mb-0">Change Log</h3>
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a th:href="@{/}">Home</a>
                    </li>
                    <li class="breadcrumb-item active">Change Log
                    </li>
                </ol>
            </div>
        </div>
    </div>


    <div class="content-body">

        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Initial Release</h4>
                    <p>Date : Thursday, November 01, 2018</p>
                    <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                            <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="card-content collapse show">
                    <div class="card-body">
                        The following modules were completed:
                        <ul>
                            <li>User Management </li>
                            <li>Branch Management </li>
                            <li>Agency Management </li>
                            <li>Device Management </li>
                            <li>Transactions </li>
                            <li>Configurations </li>
                            <li>Audit Logs</li>
                            <li>Change Log</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>

</th:block>

</body>
</html>