<!DOCTYPE html>
<html 	lang="en"
         xmlns:th="http://www.thymeleaf.org"
         xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
         layout:decorator="layouts/default-layout"
         xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" >
<head>
    <meta charset="utf-8" />
    <title> Agency &middot; Devices </title>

    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link th:href="@{/plugins/datatables/datatables.min.css}" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS -->

</head>
<body>

<th:block layout:fragment="content" >


    <div class="content-header-left col-md-6 col-12 mb-2">
        <h3 class="content-header-title mb-0">Devices</h3>
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a th:href="@{/}">Home</a>
                    </li>
                    <li class="breadcrumb-item active">Devices
                    </li>
                </ol>
            </div>
        </div>
    </div>


    <div class="content-body">

        <div class="lang-pack d-none">
            <span class="_ajax_error" th:text="#{ajax.error}"></span>
            <span class="_ajax_error_404" th:text="#{ajax.error.404}"></span>
            <span class="_ajax_error_403" th:text="#{ajax.error.403}"></span>
            <span class="_ajax_error_500" th:text="#{ajax.error.500}"></span>
            <span class="_ajax_question_delete" th:text="#{ajax.question.delete}"></span>
            <span class="_ajax_question_activate" th:text="#{ajax.question.activate}"></span>
            <span class="_ajax_question_decline-new" th:text="#{ajax.question.decline-new}"></span>
            <span class="_ajax_question_approve-new" th:text="#{ajax.question.approve-new}"></span>
            <span class="_ajax_question_unlock" th:text="#{ajax.question.unlock}"></span>
        </div>

        <section >
            <div class="row">
                <div class="col-12">

                    <div class="card">

                        <div class="card-header">

                            <div class="heading-tabs">
                                <ul class="nav nav-tabs nav-top-border no-hover-bg float-md-left">
                                    <li class="nav-item">
                                        <a class="nav-link active" data-toggle="tab" href="#active" role="tab" aria-selected="true">
                                            Active
                                        </a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#new" role="tab" aria-selected="false">
                                            New
                                        </a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#edited" role="tab" aria-selected="false">
                                            Edited
                                        </a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#deactivated" role="tab" aria-selected="false">
                                            Deactivation Requests
                                        </a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#inactive" role="tab" aria-selected="false">
                                            Inactive
                                        </a>
                                    </li>

                                </ul>

                                <div class="tab-actions float-md-right">
                                    <button class="btn btn-primary" data-action="refresh" type="button">Refresh </button>
                                    <button type="button" class="btn btn-default" data-toggle="modal" data-target=".edit-view"> New </button>
                                    <button type="button" class="btn btn-default" data-toggle="modal" data-target=".upload-view"> Upload </button>
                                </div>

                            </div>

                        </div>
                        <div class="card-content">
                            <div class="card-body">

                                <div class="tab-content px-1 pt-1">

                                    <div class="tab-pane active" id="active" role="tabpanel">

                                        <th:block sec:authorize="hasRole('View Active Devices')" >
                                            <table class="table table-bordered table-sm compact table-active" cellspacing="0" width="100%" >
                                                <thead>
                                                <tr>
                                                    <th>Serial No</th>
                                                    <th>Version</th>
<!--                                                    <th>SACCO</th>-->
                                                    <th>Outlet</th>
                                                    <th>Created On</th>
                                                    <th>Updated On</th>
                                                    <th>Actions</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                            </table>
                                        </th:block>

                                        <th:block sec:authorize="!hasRole('View Active Devices')" >
                                            <th:block th:replace="fragments/access-denied::block"> </th:block>
                                        </th:block>

                                    </div>

                                    <div class="tab-pane" id="new" role="tabpanel">

                                        <th:block sec:authorize="hasRole('View New Devices')" >
                                            <table class="table table-bordered table-sm compact table-new" cellspacing="0" width="100%" >
                                                <thead>
                                                <tr>
                                                    <th>Serial No</th>
                                                    <th>Version</th>
<!--                                                    <th>SACCO</th>-->
                                                    <th>Outlet</th>
                                                    <th>Created On</th>
                                                    <th>Updated On</th>
                                                    <th>Actions</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                            </table>
                                        </th:block>

                                        <th:block sec:authorize="!hasRole('View New Devices')" >
                                            <th:block th:replace="fragments/access-denied::block"> </th:block>
                                        </th:block>

                                    </div>

                                    <div class="tab-pane" id="edited" role="tabpanel">

                                        <th:block sec:authorize="hasRole('View Edited Devices')" >
                                            <table class="table table-bordered table-sm compact table-edited" cellspacing="0" width="100%" >
                                                <thead>
                                                <tr>
                                                    <th>Serial No</th>
                                                    <th>Version</th>
<!--                                                    <th>SACCO</th>-->
                                                    <th>Outlet</th>
                                                    <th>Created On</th>
                                                    <th>Updated On</th>
                                                    <th>Actions</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                            </table>
                                        </th:block>

                                        <th:block sec:authorize="!hasRole('View Edited Devices')" >
                                            <th:block th:replace="fragments/access-denied::block"> </th:block>
                                        </th:block>

                                    </div>

                                    <div class="tab-pane" id="deactivated" role="tabpanel">

                                        <th:block sec:authorize="hasRole('View Deactivated Devices')" >
                                            <table class="table table-bordered table-sm compact table-deactivated" cellspacing="0" width="100%" >
                                                <thead>
                                                <tr>
                                                    <th>Serial No</th>
                                                    <th>Version</th>
<!--                                                    <th>SACCO</th>-->
                                                    <th>Outlet</th>
                                                    <th>Created On</th>
                                                    <th>Updated On</th>
                                                    <th>Actions</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                            </table>
                                        </th:block>

                                        <th:block sec:authorize="!hasRole('View Deactivated Devices')" >
                                            <th:block th:replace="fragments/access-denied::block"> </th:block>
                                        </th:block>

                                    </div>

                                    <div class="tab-pane" id="inactive" role="tabpanel">

                                        <th:block sec:authorize="hasRole('View Inactive Devices')" >
                                            <table class="table table-bordered table-sm compact table-inactive" cellspacing="0" width="100%" >
                                                <thead>
                                                <tr>
                                                    <th>Serial No</th>
                                                    <th>Version</th>
<!--                                                    <th>SACCO</th>-->
                                                    <th>Outlet</th>
                                                    <th>Created On</th>
                                                    <th>Updated On</th>
                                                    <th>Actions</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                            </table>
                                        </th:block>

                                        <th:block sec:authorize="!hasRole('View Inactive Devices')" >
                                            <th:block th:replace="fragments/access-denied::block"> </th:block>
                                        </th:block>

                                    </div>

                                </div>


                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </div>

</th:block>

<th:block layout:fragment="modals">

    <div class="modal fade edit-view" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form class="form-horizontal" autocomplete="off">
                    <div class="modal-header bg-primary white">
                        <h5 class="modal-title" >Device Details</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <div class="form-group m-form__group">
                            <label> Serial No </label>
                            <input type="text" name="serialNo" class="form-control m-input" placeholder="Serial No" maxlength="20" required="required" />
                        </div>

                        <div class="form-group">
                            <label class="mt-checkbox mt-checkbox-outline"> Have Float Account
                                <input type="checkbox" value="1" name="floatAccount" />
                                <span></span>
                            </label>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <input type="hidden" name="action" value="new" />
                        <input type="hidden" name="id" value="" />
                        <button type="submit" class="btn btn-success ">Save</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade upload-view" tabindex="-1" role="dialog" aria-labelledby="uploadView" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form class="form-horizontal" autocomplete="off">
                    <div class="modal-header bg-primary white">
                        <h5 class="modal-title" >Upload Terminals</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <div class="form-group banks-view">
                            <label>SACCO</label>
                            <select class="form-control m-input" name="bankNo" required>
                                <option value="">   Select SACCO  </option>
                                <option th:each="item : ${banks}"
                                        th:value="${item.id}"
                                        th:text="${item.name}"></option>
                            </select>
                        </div>

                        <div class="mx-auto mt-1">
                            <img th:src="@{'/img/terminal_template.png'}" style="width: 40%;"/>
                        </div>

                        <fieldset class="form-group">
                            <label>CSV File</label>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" name="file" id="customFile">
                                <label class="custom-file-label" for="customFile">Choose file</label>
                            </div>
                        </fieldset>


                    </div>
                    <div class="modal-footer">
                        <input type="hidden" name="data" value="" />
                        <input type="hidden" name="action" value="upload-data" />
                        <button type="submit" class="btn btn-success ">Save</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div th:replace="fragments/makerchecker::modals"></div>

</th:block>



<th:block layout:fragment="script">
    <script th:src="@{/plugins/datatables/datatables.min.js}" ></script>
    <script th:src="@{/plugins/papaparse.min.js}" ></script>
    <script th:src="@{/js/app-util.js}" ></script>
    <script th:src="@{/js/terminal-manager/terminals.js}" ></script>
</th:block>

</body>
</html>