<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    layout:decorator="layouts/auth-layout"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" >
<head>
    <meta charset="UTF-8" />
    <title>Agency &middot; Login</title>
</head>
<body>

    <div layout:fragment="content" class="content">

        <div class="card border-grey border-lighten-3 m-0">
            <div class="card-header border-0">
                <div class="card-title text-center">

                    <div class="p-1"><img th:src="@{/img/profits.png}" width="100px" alt="Agency"></div>
                </div>
                <h6 class="card-subtitle line-on-side text-muted text-center font-small-3 pt-2"><span>Login</span></h6>
            </div>
            <div class="card-content">
                <div class="card-body">

                    <div th:if="${error}" class="alert alert-danger alert-dismissible fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        </button>
                        <span th:text="${error}"></span>
                    </div>

                    <div th:if="${msg}" class="alert alert-success alert-dismissible fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        </button>
                        <span th:text="${msg}"></span>
                    </div>

                    <form class="form-horizontal form-simple" th:action="@{/login}" method="post" autocomplete="off" >

                        <fieldset class="form-group position-relative has-icon-left">
                            <input type="email" class="form-control form-control" name="email" placeholder="Email" required>
                            <div class="form-control-position">
                                <i class="ft-user"></i>
                            </div>
                        </fieldset>

                        <fieldset class="form-group position-relative has-icon-left">
                            <input type="password" class="form-control form-control" name="password" placeholder="Password" required>
                            <div class="form-control-position">
                                <i class="fa fa-key"></i>
                            </div>
                        </fieldset>

                        <button type="submit" class="btn btn-primary btn-lg btn-block"><i class="ft-unlock"></i> Login</button>
                    </form>
                </div>
            </div>
            <div class="card-footer">
                <div class="">
                    <p class="float-sm-left text-center m-0"><a th:href="@{/password-reset}" class="card-link">Recover password</a></p>
                    <p class="float-sm-right text-center m-0"></p>
                </div>
            </div>
        </div>
    </div>

    <th:block layout:fragment="script">
        <script th:src="@{/js/app-util.js}" ></script>
        <script th:src="@{/js/user-manager/login.js}" ></script>
    </th:block>

</body>
</html>