<!DOCTYPE html>
<html 	lang="en"
         xmlns:th="http://www.thymeleaf.org"
         xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
         layout:decorator="layouts/default-layout"
         xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" >
<head>
    <meta charset="utf-8" />
    <title> Agency &middot; Mobile Users </title>

    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link th:href="@{/plugins/datatables/datatables.min.css}" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS -->

</head>
<body>

<th:block layout:fragment="content" >

    <div class="content-header-left col-md-6 col-12 mb-2">
        <h3 class="content-header-title mb-0">Mobile Users</h3>
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a th:href="@{/}">Home</a>
                    </li>
                    <li class="breadcrumb-item active"> Mobile Users
                    </li>
                </ol>
            </div>
        </div>
    </div>

    <div class="content-body">

        <section >
            <div class="row">
                <div class="col-12">

                    <div class="card">

                        <div class="card-header">
                            <div class="heading-elements">
                                <button type="button" class="btn btn-primary" data-action="refresh">Refresh </button>
                            </div>
                        </div>

                        <div class="card-content">
                            <div class="card-body">

                                <table class="table table-bordered compact table-active" cellspacing="0" width="100%" >
                                    <thead>
                                    <tr>
                                        <th>Names</th>
                                        <th>Member ID</th>
                                        <th>Email</th>
                                        <th>Phone</th>
                                        <th>Date Joined</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

</th:block>

<th:block layout:fragment="script">
    <script th:src="@{/plugins/datatables/datatables.min.js}" ></script>
    <script th:src="@{/js/app-util.js}" ></script>
    <script th:src="@{/js/user-manager/mobile-users.js}" ></script>
</th:block>

</body>
</html>