<!DOCTYPE html>
<html 	lang="en"
         xmlns:th="http://www.thymeleaf.org"
         xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
         layout:decorator="layouts/default-layout"
         xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" >
<head>
    <meta charset="utf-8" />
    <title> Agency &middot; System Users </title>

    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link th:href="@{/plugins/datatables/datatables.min.css}" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS -->

</head>
<body>

<th:block layout:fragment="content" >


    <div class="content-header-left col-md-6 col-12 mb-2">
        <h3 class="content-header-title mb-0">System Users</h3>
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item pink"><a th:href="@{/}">Home</a>
                    </li>
                    <li class="breadcrumb-item active"> System Users
                    </li>
                </ol>
            </div>
        </div>
    </div>


    <div class="content-body">

        <div class="lang-pack d-none">
            <span class="_ajax_error" th:text="#{ajax.error}"></span>
            <span class="_ajax_error_404" th:text="#{ajax.error.404}"></span>
            <span class="_ajax_error_403" th:text="#{ajax.error.403}"></span>
            <span class="_ajax_error_500" th:text="#{ajax.error.500}"></span>
            <span class="_ajax_question_delete" th:text="#{ajax.question.delete}"></span>
            <span class="_ajax_question_activate" th:text="#{ajax.question.activate}"></span>
            <span class="_ajax_question_decline-new" th:text="#{ajax.question.decline-new}"></span>
            <span class="_ajax_question_approve-new" th:text="#{ajax.question.approve-new}"></span>
            <span class="_ajax_question_unlock" th:text="#{ajax.question.unlock}"></span>
        </div>

        <section >
            <div class="row">
                <div class="col-12">

                    <div class="card">

                        <div class="card-header">

                            <div class="heading-tabs">
                                <ul class="nav nav-tabs nav-top-border no-hover-bg float-md-left">
                                    <li class="nav-item">
                                        <a class="nav-link active" data-toggle="tab" href="#active" role="tab" aria-selected="true">
                                            Active
                                        </a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#new" role="tab" aria-selected="false">
                                            New
                                        </a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#edited" role="tab" aria-selected="false">
                                            Edited
                                        </a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#deactivated" role="tab" aria-selected="false">
                                            Deactivation Requests
                                        </a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#inactive" role="tab" aria-selected="false">
                                            Inactive
                                        </a>
                                    </li>

                                </ul>

                                <div class="tab-actions float-md-right">
                                    <button class="btn btn-primary" data-action="refresh" type="button">Refresh </button>
                                    <button type="button" class="btn btn-default" data-toggle="modal" data-target=".edit-view"> New </button>
                                </div>

                            </div>

                        </div>
                        <div class="card-content">
                            <div class="card-body">

                                <div class="tab-content px-1 pt-1">

                                    <div class="tab-pane active" id="active" role="tabpanel">

                                        <table class="table table-bordered compact table-active" cellspacing="0" width="100%" >
                                            <thead>
                                            <tr>
                                                <th>Names</th>
                                                <th>Email</th>
                                                <th>User Group</th>
                                                <th>User Type</th>
                                                <th> Created On </th>
                                                <th> Updated On </th>
                                                <th> Actions </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>

                                    </div>

                                    <div class="tab-pane" id="new" role="tabpanel">

                                        <table class="table table-bordered compact table-new" cellspacing="0" width="100%" >
                                            <thead>
                                            <tr>
                                                <th>Names</th>
                                                <th>Email</th>
                                                <th>User Group</th>
                                                <th>User Type</th>
                                                <th> Created On </th>
                                                <th> Updated On </th>
                                                <th> Actions </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>

                                    </div>

                                    <div class="tab-pane" id="edited" role="tabpanel">

                                        <table class="table table-bordered compact table-edited" cellspacing="0" width="100%" >
                                            <thead>
                                            <tr>
                                                <th>Names</th>
                                                <th>Email</th>
                                                <th>User Group</th>
                                                <th>User Type</th>
                                                <th> Created On </th>
                                                <th> Updated On </th>
                                                <th> Actions </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>

                                    </div>

                                    <div class="tab-pane" id="deactivated" role="tabpanel">

                                        <table class="table table-bordered compact table-deactivated" cellspacing="0" width="100%" >
                                            <thead>
                                            <tr>
                                                <th>Names</th>
                                                <th>Email</th>
                                                <th>User Group</th>
                                                <th>User Type</th>
                                                <th> Created On </th>
                                                <th> Updated On </th>
                                                <th> Actions </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>

                                    </div>

                                    <div class="tab-pane" id="inactive" role="tabpanel">

                                        <table class="table table-bordered compact table-inactive" cellspacing="0" width="100%" >
                                            <thead>
                                            <tr>
                                                <th>Names</th>
                                                <th>Email</th>
                                                <th>User Group</th>
                                                <th>User Type</th>
                                                <th> Created On </th>
                                                <th> Updated On </th>
                                                <th> Actions </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>

                                    </div>

                                </div>


                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </div>

</th:block>

<th:block layout:fragment="modals">

    <div class="modal fade edit-view" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form class="form-horizontal" autocomplete="off">
                    <div class="modal-header bg-primary white">
                        <h5 class="modal-title" >User Details</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <div class="form-group m-form__group">
                            <label>First Name </label>
                            <input type="text" name="firstName" class="form-control m-input" placeholder="First name" required="required" />
                        </div>

                        <div class="form-group m-form__group">
                            <label>Middle Name </label>
                            <input type="text" name="middleName" class="form-control m-input" placeholder="Middle name" />
                        </div>

                        <div class="form-group m-form__group">
                            <label>Last Name </label>
                            <input type="text" name="surname" class="form-control m-input" placeholder="Last name" required="required" />
                        </div>

                        <div class="form-group m-form__group">
                            <label>Email </label>
                            <input type="email" name="email" class="form-control m-input" placeholder="Email" required="required" />
                        </div>

                        <div class="form-group m-form__group">
                            <label>Phone </label>
                            <input type="text" name="phone" class="form-control m-input" placeholder="Mobile Phone number" required="required" />
                        </div>

                        <div class="form-group m-form__group">
                            <label>User Group</label>
                            <select class="form-control m-input" name="userGroupNo">
                                <option value="">   Select User Group  </option>
                                <option th:each="item : ${usergroups}"
                                        th:value="${item.id}"
                                        th:text="${item.name}"></option>
                            </select>
                        </div>

                        <!--<div class="form-group user-type">-->
                            <!--<label >User Type </label>-->
                            <!--<select class="form-control" name="userTypeNo">-->
                                <!--<option value="">   Select Type  </option>-->
                                <!--<option th:each="item : ${userTypes}"-->
                                        <!--th:value="${item.id}"-->
                                        <!--th:attr="data-type=${item.code}"-->
                                        <!--th:text="${item.name}"></option>-->
                            <!--</select>-->
                        <!--</div>-->

                        <!--<div class="form-group bank-view d-none">-->
                            <!--<label> Bank </label>-->
                            <!--<select class="form-control" name="bankNo">-->
                                <!--<option value="">   Select Bank  </option>-->
                                <!--<option th:each="item : ${banks}"-->
                                        <!--th:value="${item.id}"-->
                                        <!--th:text="${item.name}"></option>-->
                            <!--</select>-->
                        <!--</div>-->

                    </div>
                    <div class="modal-footer">
                        <input type="hidden" name="action" value="new" />
                        <input type="hidden" name="id" value="" />
                        <button type="submit" class="btn btn-success ">Save</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div th:replace="fragments/makerchecker::modals"></div>

</th:block>



<th:block layout:fragment="script">
    <script th:src="@{/plugins/datatables/datatables.min.js}" ></script>
    <script th:src="@{/js/app-util.js}" ></script>
    <script th:src="@{/js/user-manager/users.js}" ></script>
</th:block>

</body>
</html>