<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
layout:decorator="layouts/default-layout"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" >
<head>
    <meta charset="utf-8" />
    <title> Agency &middot; Usergroups </title>

    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link th:href="@{/plugins/datatables/datatables.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/plugins/bootstrap-select/css/bootstrap-select.css}" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS -->

</head>
<body>


<th:block layout:fragment="content" >

    <div class="content-header-left col-md-6 col-12 mb-2">
        <h3 class="content-header-title mb-0"> Usergroups </h3>
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a th:href="@{/}">Home</a>
                    </li>
                    <li class="breadcrumb-item active"> Usergroups
                    </li>
                </ol>
            </div>
        </div>
    </div>


    <div class="content-body">

        <div class="lang-pack d-none">
            <span class="_ajax_error" th:text="#{ajax.error}"></span>
            <span class="_ajax_error_404" th:text="#{ajax.error.404}"></span>
            <span class="_ajax_error_403" th:text="#{ajax.error.403}"></span>
            <span class="_ajax_error_500" th:text="#{ajax.error.500}"></span>
            <span class="_ajax_question_delete" th:text="#{ajax.question.delete}"></span>
            <span class="_ajax_question_activate" th:text="#{ajax.question.activate}"></span>
            <span class="_ajax_question_decline-new" th:text="#{ajax.question.decline-new}"></span>
            <span class="_ajax_question_approve-new" th:text="#{ajax.question.approve-new}"></span>
            <span class="_ajax_question_unlock" th:text="#{ajax.question.unlock}"></span>
        </div>

        <section >
            <div class="row">
                <div class="col-12">

                    <div class="card">

                        <div class="card-header">
                            <div class="heading-tabs">
                                <ul class="nav nav-tabs nav-top-border no-hover-bg float-md-left">
                                    <li class="nav-item">
                                        <a class="nav-link active" data-toggle="tab" href="#active" role="tab" aria-selected="true">
                                            Active
                                        </a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#new" role="tab" aria-selected="false">
                                            New
                                        </a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#edited" role="tab" aria-selected="false">
                                            Edited
                                        </a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#deactivated" role="tab" aria-selected="false">
                                            Deactivation Requests
                                        </a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#inactive" role="tab" aria-selected="false">
                                            Inactive
                                        </a>
                                    </li>

                                </ul>

                                <div class="tab-actions float-md-right">
                                    <button class="btn btn-primary" data-action="refresh" type="button">Refresh </button>
                                    <button type="button" class="btn btn-default" data-toggle="modal" data-target=".edit-view"> New </button>
                                </div>

                            </div>
                        </div>
                        <div class="card-content">
                            <div class="card-body">

                                <div class="tab-content px-1 pt-1">

                                    <div class="tab-pane active" id="active" role="tabpanel">

                                        <th:block sec:authorize="hasRole('View Active User Groups')" >
                                            <table class="table table-bordered table-active" cellspacing="0" width="100%" >
                                                <thead>
                                                <tr>
                                                    <th>Name</th>
                                                    <th>Description</th>
                                                    <th>Created On </th>
                                                    <th>Updated On </th>
                                                    <th>Actions</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                            </table>
                                        </th:block>

                                        <th:block sec:authorize="!hasRole('View Active User Groups')" >
                                            <th:block th:replace="fragments/access-denied::block"> </th:block>
                                        </th:block>

                                    </div>

                                    <div class="tab-pane" id="new" role="tabpanel">

                                        <th:block sec:authorize="hasRole('View New User Groups')" >
                                            <table class="table table-bordered table-new" cellspacing="0" width="100%" >
                                                <thead>
                                                <tr>
                                                    <th>Name</th>
                                                    <th>Description</th>
                                                    <th>Created On </th>
                                                    <th>Updated On </th>
                                                    <th>Actions</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                            </table>
                                        </th:block>

                                        <th:block sec:authorize="!hasRole('View New User Groups')" >
                                            <th:block th:replace="fragments/access-denied::block"> </th:block>
                                        </th:block>

                                    </div>

                                    <div class="tab-pane" id="edited" role="tabpanel">

                                        <th:block sec:authorize="hasRole('View Edited User Groups')" >
                                            <table class="table table-bordered table-edited" cellspacing="0" width="100%" >
                                                <thead>
                                                <tr>
                                                    <th>Name</th>
                                                    <th>Description</th>
                                                    <th>Created On </th>
                                                    <th>Updated On </th>
                                                    <th>Actions</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                            </table>
                                        </th:block>

                                        <th:block sec:authorize="!hasRole('View Edited User Groups')" >
                                            <th:block th:replace="fragments/access-denied::block"> </th:block>
                                        </th:block>

                                    </div>

                                    <div class="tab-pane" id="deactivated" role="tabpanel">

                                        <th:block sec:authorize="hasRole('View Deactivated User Groups')" >
                                            <table class="table table-bordered table-deactivated" cellspacing="0" width="100%" >
                                                <thead>
                                                <tr>
                                                    <th>Name</th>
                                                    <th>Description</th>
                                                    <th>Created On </th>
                                                    <th>Updated On </th>
                                                    <th>Actions</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                            </table>
                                        </th:block>

                                        <th:block sec:authorize="!hasRole('View Deactivated User Groups')" >
                                            <th:block th:replace="fragments/access-denied::block"> </th:block>
                                        </th:block>

                                    </div>

                                    <div class="tab-pane" id="inactive" role="tabpanel">

                                        <th:block sec:authorize="hasRole('View Inactive User Groups')" >
                                            <table class="table table-bordered table-inactive" cellspacing="0" width="100%" >
                                                <thead>
                                                <tr>
                                                    <th>Name</th>
                                                    <th>Description</th>
                                                    <th>Created On </th>
                                                    <th>Updated On </th>
                                                    <th>Actions</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                            </table>
                                        </th:block>

                                        <th:block sec:authorize="!hasRole('View Inactive User Groups')" >
                                            <th:block th:replace="fragments/access-denied::block"> </th:block>
                                        </th:block>

                                    </div>

                                </div>


                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </div>

</th:block>

<th:block layout:fragment="modals">

<div class="modal fade edit-view" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form>
                <div class="modal-header bg-primary white">
                    <h5 class="modal-title" >UserGroup Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label class="control-label">Name</label>
                        <input type="text" class="form-control" name="name" required="required">
                    </div>

                    <div class="form-group">
                        <label class="control-label"> Description </label>
                        <input type="text" class="form-control" name="description" required="required">
                    </div>
                    <!--<div class="form-group">-->
                        <!--<label class="control-label"> Permissions </label>-->
                        <!--<select class="form-control selectpicker show-tick permissions" data-plugin="selectpicker" multiple name="roles" data-actions-box="true" data-done-button="true">-->
                            <!--<option th:each="item : ${permissions}"-->
                            <!--th:value="${item.id}"-->
                            <!--th:text="${item.name}"></option>-->
                        <!--</select>-->
                    <!--</div>-->


                    <!--multiselect-->
                    <div class="form-group">
                        <label class="control-label"> Permissions </label>
                        <div>
                            <label style="padding-left: 10%;">
                                Not Assigned
                            </label>
                            <label style="padding-left: 60%;">
                                Assigned
                            </label>
                        </div>
                        <div class="row">
                            <div class="col-5">
                                <select name="from[]" id="permissionsEl" class="form-control" size="10" multiple="multiple">

                                    <th:block th:each="item : ${permissions}" >
                                        <optgroup class="text-bold" th:label ="${item.role}" th:attr="data-basetype=${item.function}">
                                            <option th:each="node : ${item.permissions}"
                                                    th:value="${node.id}"
                                                    th:text="${node.name}" th:attr="data-basetype=${item.function}"></option>
                                        </optgroup>
                                    </th:block>

                                </select>
                            </div>

                            <div class="col-2">
                                <button type="button" id="permissionsEl_rightAll" class="btn btn-block "><i class="ft-chevrons-right"></i></button>
                                <button type="button" id="permissionsEl_rightSelected" class="btn btn-block "><i class="ft-chevron-right"></i></button>
                                <button type="button" id="permissionsEl_leftSelected" class="btn btn-block "><i class="ft-chevron-left"></i></button>
                                <button type="button" id="permissionsEl_leftAll" class="btn btn-block "><i class="ft-chevrons-left"></i></button>
                            </div>

                            <div class="col-5">
                                <select name="permission" id="permissionsEl_to" class="form-control permissions" size="10" multiple="multiple"></select>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="modal-footer">
                    <input type="hidden" name="action" value="new" />
                    <input type="hidden" name="id" value="" />
                    <button type="submit" class="btn btn-success">Save</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div th:replace="fragments/makerchecker::modals"></div>
</th:block>


<th:block layout:fragment="script">
    <script th:src="@{/plugins/datatables/datatables.min.js}" ></script>
    <script th:src="@{/js/app-util.js}" ></script>
    <script th:src="@{/plugins/multiselect.js}" ></script>
    <script th:src="@{/plugins/bootstrap-select/js/bootstrap-select.min.js}" type="text/javascript"></script>
    <script th:src="@{/js/user-manager/usergroups.js}" ></script>
</th:block>

</body>
</html>