<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<th:block th:fragment="header">

    <!-- fixed-top-->
    <nav class="header-navbar navbar-expand-md navbar navbar-with-menu fixed-top navbar-dark " style=" background-color: #00B5B8;">
        <div class="navbar-wrapper">
            <div class="navbar-header">
                <ul class="nav navbar-nav flex-row">
                    <li class="nav-item mobile-menu d-md-none mr-auto">
                        <a href="#" class="nav-link nav-menu-main menu-toggle hidden-xs"><i class="ft-menu font-large-1"></i></a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/}" class="navbar-brand">
                            <img alt="" th:src="@{/img/profits.png}" class="brand-logo" style="height: 32px;">
                        <!--<h2 class="brand-text">Kluster</h2>-->
                        </a>
                    </li>
                    <li class="nav-item d-md-none">
                        <a data-toggle="collapse" data-target="#navbar-mobile" class="nav-link open-navbar-container">
                            <i class="fa fa-ellipsis-v"></i></a>
                    </li>
                </ul>
            </div>
            <div class="navbar-container content" style=" background-color: #00B5B8;">
                <div id="navbar-mobile" class="collapse navbar-collapse" style="background-color: #00B5B8;">

                    <ul class="nav navbar-nav mr-auto float-left">
                        <li class="nav-item d-none d-md-block"><a href="#" class="nav-link nav-menu-main menu-toggle hidden-xs"><i class="ft-menu"></i></a></li>

                        <li class="nav-item d-none d-md-block"><a href="#" class="nav-link nav-link-expand"><i class="ficon ft-maximize"></i></a></li>
                        <li class="nav-item nav-search"><a href="#" class="nav-link nav-link-search"><i class="ficon ft-search"></i></a>
                            <div class="search-input">
                                <input type="text" placeholder="Explore Agency..." class="input">
                            </div>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav float-right">

                        <li class="dropdown dropdown-notification nav-item">
                            <a href="#" data-toggle="dropdown" class="nav-link nav-link-label">
                                <i class="ficon ft-bell"></i>
                                <span class="badge badge-pill badge-default badge-danger badge-default badge-up" style="background-color: aliceblue;">1</span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-media dropdown-menu-right">
                                <li class="dropdown-menu-header">
                                    <h6 class="dropdown-header m-0"><span class="grey darken-2">Notifications</span></h6>
                                </li>
                                <li class="scrollable-container media-list">

                                    <!--If the expiry period has been defined -->
                                    <th:block th:if="${session._userExpiry != null}">

                                        <!--Set the duration before expiry-->
                                        <th:block
                                                th:with="expireIn=${@dateUtils.daysUntilToday(session._userExpiry)},
                                                badgeClass=${@dateUtils.cssClass(session._userExpiry)}">

                                            <a href="javascript:void(0)">
                                                <div class="media">
                                                    <div class="media-left align-self-center">
                                                        <i class="ft-alert-circle icon-bg-circle bg-cyan"></i>
                                                    </div>
                                                    <div class="media-body">
                                                        <h6 class="media-heading">Password Expiry</h6>
                                                        <p class="notification-text font-small-3 text-muted">Your password will expire on</p>
                                                        <small th:text="${#dates.format(session._userExpiry, 'dd-MMM-yyyy HH:mm:ss a')}" > </small>
                                                    </div>
                                                </div>
                                            </a>
                                        </th:block>
                                    </th:block>
                                </li>
                            </ul>
                        </li>


                        <li class="dropdown dropdown-user nav-item">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle nav-link dropdown-user-link">
                                <span class="avatar avatar-online">
                                    <img th:src="@{/img/avatar00.png}" alt=""><i></i></span>
                                <span class="user-name" th:text="${session._username}"></span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a th:href="@{/profile}" class="dropdown-item">
                                    <i class="ft-user"></i> Profile
                                </a>
                                <div class="dropdown-divider"></div>
                                <form th:action="@{/logout}" method="post">
                                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                                    <button type="submit" class="btn btn-link dropdown-item"><i class="ft-power" aria-hidden="true"></i> Logout </button>
                                </form>

                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

</th:block>

</body>
</html>