<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" >
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>

    <th:block th:fragment="menu" >

        <div data-scroll-to-active="true" class="main-menu menu-fixed menu-dark menu-accordion menu-shadow">
            <div class="main-menu-content">
                <ul id="main-menu-navigation" data-menu="menu-navigation" class="navigation navigation-main">

                    <li class=" nav-item" th:classappend="${@viewTags.isActiveMenu('/')}">
                        <a th:href="@{/}">
                            <i class="ft-home"></i><span class="menu-title"> Dashboard </span>
                        </a>
                    </li>

                    <li class=" nav-item" sec:authorize="hasAnyRole('ROLE_USERS', 'ROLE_USER_GROUP')">
                        <a href="#">
                            <i class="ft-users"></i>
                            <span data-i18n="" class="menu-title">User Manager </span>
                        </a>
                        <ul class="menu-content">
                            <li sec:authorize="hasRole('ROLE_USER_GROUP')" th:classappend="${@viewTags.isActiveMenu('/usergroups')}">
                                <a th:href="@{/usergroups}" class="menu-item"> User Groups </a>
                            </li>
                            <li sec:authorize="hasRole('ROLE_USERS')" th:classappend="${@viewTags.isActiveMenu('/users')}">
                                <a th:href="@{/users}" class="menu-item">System Users </a>
                            </li>
                        </ul>
                    </li>

                    <!--<li class=" nav-item" sec:authorize="hasAnyRole('ROLE_BANKS', 'ROLE_BRANCHES')">-->
                        <!--<a href="#">-->
                            <!--<i class="ft-server"></i>-->
                            <!--<span data-i18n="" class="menu-title">SACCO Manager </span>-->
                        <!--</a>-->
                        <!--<ul class="menu-content">-->
                            <!--<li sec:authorize="hasRole('ROLE_BANKS')"-->
                                <!--th:if="${session._userType == 'system-admin'}"-->
                                <!--th:classappend="${@viewTags.isActiveMenu('/saccos')}">-->
                                <!--<a th:href="@{/saccos}" class="menu-item"> SACCOs </a>-->
                            <!--</li>-->



                        <!--</ul>-->
                    <!--</li>-->

                    <li class=" nav-item" sec:authorize="hasAnyRole('ROLE_AGENTS', 'ROLE_OUTLETS', 'ROLE_FEE_GROUPS', 'ROLE_FEES')">
                        <a href="#">
                            <i class="ft-more-vertical"></i>
                            <span data-i18n="" class="menu-title">Agency Manager </span>
                        </a>


                        <ul class="menu-content">

                            <li sec:authorize="hasRole('ROLE_FEE_GROUPS')" th:classappend="${@viewTags.isActiveMenu('/fee-groups')}">
                                <a th:href="@{/fee-groups}" class="menu-item"> Fee Groups </a>
                            </li>

                            <li sec:authorize="hasRole('ROLE_FEES')" th:classappend="${@viewTags.isActiveMenu('/fees')}">
                                <a th:href="@{/fees}" class="menu-item"> Fees </a>
                            </li>

                            <!--<li sec:authorize="hasAnyRole('ROLE_BRANCHES')"-->
                                <!--th:classappend="${@viewTags.isActiveMenu('/branches')}">-->
                                <!--<a th:href="@{/branches}" class="menu-item"> Branches </a>-->
                            <!--</li>-->

                            <li sec:authorize="hasRole('ROLE_AGENTS')" th:classappend="${@viewTags.isActiveMenu('/agents')}">
                                <a th:href="@{/agents}" class="menu-item"> Agents </a>
                            </li>

                            <li sec:authorize="hasRole('ROLE_AGENTS')" th:classappend="${@viewTags.isActiveMenu('/customers')}">
                                <a th:href="@{/customers}" class="menu-item"> Customers </a>
                            </li>

                            <!--<li sec:authorize="hasRole('ROLE_OUTLETS')" th:classappend="${@viewTags.isActiveMenu('/outlets')}">-->
                                <!--<a th:href="@{/outlets}" class="menu-item"> Outlets </a>-->
                            <!--</li>-->



                        </ul>
                    </li>



                    <!--<li class=" nav-item" sec:authorize="hasAnyRole('ROLE_DEVICES', 'ROLE_OFFICERS', 'ROLE_DEVICE_ALLOCATION')">-->
                        <!--<a href="#">-->
                            <!--<i class="ft-tablet"></i>-->
                            <!--<span data-i18n="" class="menu-title">Device Manager </span>-->
                        <!--</a>-->
                        <!--<ul class="menu-content">-->
                            <!--&lt;!&ndash;<li sec:authorize="hasRole('ROLE_DEVICES')" th:classappend="${@viewTags.isActiveMenu('/terminals')}">&ndash;&gt;-->
                                <!--&lt;!&ndash;<a th:href="@{/terminals}" class="menu-item"> Devices </a>&ndash;&gt;-->
                            <!--&lt;!&ndash;</li>&ndash;&gt;-->

                            <!--<li sec:authorize="hasRole('ROLE_OFFICERS')" th:classappend="${@viewTags.isActiveMenu('/officers')}">-->
                                <!--<a th:href="@{/officers}" class="menu-item"> Officers </a>-->
                            <!--</li>-->

                            <!--&lt;!&ndash;<li sec:authorize="hasRole('ROLE_DEVICE_ALLOCATION')" th:classappend="${@viewTags.isActiveMenu('/allocations')}">&ndash;&gt;-->
                                <!--&lt;!&ndash;<a th:href="@{/allocations}" class="menu-item"> Device Allocation </a>&ndash;&gt;-->
                            <!--&lt;!&ndash;</li>&ndash;&gt;-->

                        <!--</ul>-->
                    <!--</li>-->

                    <li class=" nav-item" sec:authorize="hasAnyRole('ROLE_DEVICES', 'ROLE_OFFICERS', 'ROLE_DEVICE_ALLOCATION')">
                        <a href="#">
                            <i class="ft-tablet"></i>
                            <span data-i18n="" class="menu-title">Float Manager </span>
                        </a>
                        <ul class="menu-content">
                            <li  th:classappend="${@viewTags.isActiveMenu('/outlet-float-manager')}">
                                <a th:href="@{/outlet-float-manager}" class="menu-item"> Agent Float </a>
                            </li>



                            <!--<li th:classappend="${@viewTags.isActiveMenu('/terminal-float-manager')}">-->
                                <!--<a th:href="@{/terminal-float-manager}" class="menu-item"> Terminal Float </a>-->
                            <!--</li>-->

                        </ul>
                    </li>

                    <!--<li class=" nav-item" sec:authorize="hasAnyRole('ROLE_AGENTS', 'ROLE_OUTLETS', 'ROLE_FEE_GROUPS', 'ROLE_FEES')">-->
                        <!--<a href="#">-->
                            <!--<i class="ft-more-vertical"></i>-->
                            <!--<span data-i18n="" class="menu-title">Loan Manager </span>-->
                        <!--</a>-->
                        <!--<ul class="menu-content">-->
                            <!--<li th:classappend="${@viewTags.isActiveMenu('/loans')}">-->
                                <!--<a th:href="@{/loans}" class="menu-item"> Loans </a>-->
                            <!--</li>-->

                            <!--<li  th:classappend="${@viewTags.isActiveMenu('/loan-applications')}">-->
                                <!--<a th:href="@{/loan-applications}" class="menu-item"> Loans Application </a>-->
                            <!--</li>-->



                        <!--</ul>-->
                    <!--</li>-->

                    <li th:classappend="${@viewTags.isActiveMenu('/transactions')}">
                        <a th:href="@{/transactions}">
                            <i class="ft-activity"></i>
                            <span data-i18n="" class="menu-title"> Transactions </span>
                        </a>
                    </li>
                    <!--<li th:classappend="${@viewTags.isActiveMenu('/merchant-transactions')}">-->
                        <!--<a th:href="@{/merchant-transactions}">-->
                            <!--<i class="ft-activity"></i>-->
                            <!--<span data-i18n="" class="menu-title"> Merchant Transactions </span>-->
                        <!--</a>-->
                    <!--</li>-->

                    <li class=" nav-item">
                        <a href="#">
                            <i class="ft-link-2"></i>
                            <span data-i18n="" class="menu-title">Reports </span>
                        </a>
                        <ul class="menu-content">
                            <li th:classappend="${@viewTags.isActiveMenu('/transaction-category-report')}"><a th:href="@{/transaction-category-report}" class="menu-item"> Transaction Category </a></li>
                            <!--<li th:classappend="${@viewTags.isActiveMenu('/terminal-report')}"><a th:href="@{/terminal-report}" class="menu-item"> Terminal Report </a></li>-->
                            <li th:classappend="${@viewTags.isActiveMenu('/agent-report')}"><a th:href="@{/agent-report}" class="menu-item"> Agent Report </a></li>
                            <li th:classappend="${@viewTags.isActiveMenu('/commission-report')}"><a th:href="@{/commission-report}" class="menu-item"> Commissions Report </a></li>
                            <!--<li th:classappend="${@viewTags.isActiveMenu('/branch-report')}"><a th:href="@{/branch-report}" class="menu-item"> Branch Report </a></li>-->
                            <!--<li th:classappend="${@viewTags.isActiveMenu('/outlet-report')}"><a th:href="@{/outlet-report}" class="menu-item"> Outlet Report </a></li>-->
                            <!--<li th:classappend="${@viewTags.isActiveMenu('/merchant-transactions')}"><a th:href="@{/merchant-transactions}" class="menu-item"> Merchants Report </a></li>-->
                        </ul>
                    </li>


                    <li class=" nav-item" sec:authorize="hasAnyRole('ROLE_SETTINGS', 'ROLE_MAKER_CHECKER', 'ROLE_REASON_CODES')">
                        <a href="#">
                            <i class="ft-settings"></i>
                            <span data-i18n="" class="menu-title">Configurations </span>
                        </a>
                        <ul class="menu-content">
                            <li sec:authorize="hasRole('ROLE_SETTINGS')" th:classappend="${@viewTags.isActiveMenu('/system-settings')}">
                                <a th:href="@{/system-settings}" class="menu-item"> Settings </a>
                            </li>

                            <li sec:authorize="hasRole('ROLE_MAKER_CHECKER')" th:classappend="${@viewTags.isActiveMenu('/maker-checker')}">
                                <a th:href="@{/maker-checker}" class="menu-item"> MakerChecker </a>
                            </li>

                            <li sec:authorize="hasRole('ROLE_REASON_CODES')" th:classappend="${@viewTags.isActiveMenu('/reason-codes')}">
                                <a th:href="@{/reason-codes}" class="menu-item"> ReasonCodes </a>
                            </li>

                        </ul>
                    </li>

                    <li sec:authorize="hasRole('ROLE_AUDIT_LOGS')" th:classappend="${@viewTags.isActiveMenu('/audit-logs')}">
                        <a th:href="@{/audit-logs}">
                            <i class="ft-activity"></i>
                            <span data-i18n="" class="menu-title">Audit Logs </span>
                        </a>
                    </li>

                    <li th:classappend="${@viewTags.isActiveMenu('/change-log')}">
                        <a th:href="@{/change-log}">
                            <i class="ft-zap"></i>
                            <span data-i18n="" class="menu-title">Change Log</span>
                            <span class="badge badge badge-pill badge-info float-right">1.0</span>
                        </a>
                    </li>

                </ul>
            </div>
        </div>


    </th:block>

</body>
</html>