<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layouts/default-layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" >
    <head>
        <meta charset="utf-8" />
        <title> Agency &middot; Dashboard </title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css" rel="stylesheet" type="text/css" />
        <link th:href="@{/plugins/charts/morris/morris.css}" rel="stylesheet" type="text/css" />
    </head>
    <body>

    <th:block layout:fragment="content" >

        <div class="content-header row">
        </div>
        <div class="content-body"><!-- Stats -->


            <div class="row">
                <div class="col-xl-2 col-lg-12 col-12">

                    <a class="card">
                        <div class="card-content">
                            <div class="card-body">
                                <div class="media d-flex">
                                    <div class="media-body text-left">
                                        <h3 class="primary" th:text="${stats.transactions}">0</h3>
                                        <span>Transactions</span>
                                    </div>
                                    <div class="align-self-center">
                                        <i class="icon-basket primary font-large-2 float-right"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>

                </div>


                <div class="col-xl-2 col-lg-6 col-12">

                    <a class="card">
                        <div class="card-content">
                            <div class="card-body">
                                <div class="media d-flex">
                                    <div class="media-body text-left">
                                        <h3 class="warning" th:text="${stats.users}">0</h3>
                                        <span>Users</span>
                                    </div>
                                    <div class="align-self-center">
                                        <i class="icon-users warning font-large-2 float-right"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>

                </div>


                <div class="col-xl-2 col-lg-6 col-12">

                    <a class="card">
                    <!--<a th:href="@{/terminals}"  class="card">-->
                        <div class="card-content">
                            <div class="card-body">
                                <div class="media d-flex">
                                    <div class="media-body text-left">
                                        <h3 class="success" th:text="${stats.devices}"></h3>
                                        <span>Customer</span>
                                    </div>
                                    <div class="align-self-center">
                                        <i class="icon-users success font-large-2 float-right"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>

                </div>


                <div class="col-xl-2 col-lg-6 col-12">

                <a class="card">
                    <div class="card-content">
                        <div class="card-body">
                            <div class="media d-flex">
                                <div class="media-body text-left">
                                    <h3 class="danger" th:text="${stats.outlets}">0</h3>
                                    <span>Agents</span>
                                </div>
                                <div class="align-self-center">
                                    <i class="icon-pointer danger font-large-2 float-right"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

                <div class="col-xl-2 col-lg-6 col-12">

                    <a class="card">
                        <div class="card-content">
                            <div class="card-body">
                                <div class="media d-flex">
                                    <div class="media-body text-left">
                                        <h3 class="danger" th:text="${stats.withdrawalAmount}">0.00</h3>
                                        <span>Funds Transfer</span>
                                    </div>
                                    <div class="align-self-center">
                                        <!--<i class="fa fa-money danger font-large-1 float-right"></i>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-xl-2 col-lg-6 col-12">

                    <a class="card">
                        <div class="card-content">
                            <div class="card-body">
                                <div class="media d-flex">
                                    <div class="media-body text-left">
                                        <h3 class="danger" th:text="${stats.depositAmount}">0</h3>
                                        <span>Deposits</span>
                                    </div>
                                    <div class="align-self-center">
                                        <i class="fa fa-money danger font-large-1 float-right"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

            </div>



                <!--<div >-->
                    <canvas id="canvas"></canvas>
                <!--</div>-->

        </div>

</th:block>

    <th:block layout:fragment="script">
        <script th:src="@{/plugins/moment.min.js}" ></script>
        <script th:src="@{/plugins/charts/morris/morris.js}" ></script>
        <script th:src="@{/plugins/charts/raphael.min.js}" ></script>
        <script th:src="@{/js/dashboard/default.js}" ></script>
        <script th:src="@{/js/chart/chart.js}" ></script>
        <script th:src="@{/js/chart/utils.js}" ></script>
        <script th:src="@{/js/chart/linier-charts.js}" ></script>
    </th:block>

    </body>
</html>