<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Agency &middot; 500 </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i%7COpen+Sans:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">

    <link th:href="@{/theme/css/bundle.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/theme/css/style.bundle.css}" rel="stylesheet" type="text/css" />
</head>
<body>


<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body">
            <section class="flexbox-container">

                <div class="col-12 d-flex align-items-center justify-content-center">
                    <div class="col-md-4 col-8 p-10">
                        <div class="card-header bg-transparent border-0">
                            <h2 class="error-code text-center pink mb-2" style="font-size:98px;font-weight: 700;line-height: 150px;">500</h2>
                            <h4 class="text-uppercase text-center">Oops! Something went wrong.</h4>
                        </div>
                        <div class="card-content text-center">
                            The server encountered something unexpected that did not allow it to complete the request. We apologise.
                            <br />
                            <a class="btn btn-secondary mt-3" th:href="@{/}"> Return Home</a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<script th:src="@{/theme/js/bundle.js}" type="text/javascript"></script>
<script th:src="@{/theme/js/scripts.bundle.js}" type="text/javascript"></script>

</body>
</html>